body{
  margin: 0;
  padding: 0;

}
.container{
  margin-left: 10%;
  margin-right: 10%;
}
#login{
  position: relative;
  font-size: x-large;
  float: right;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header h2{
  text-align: center;
}
h1{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #5A5A5A;
  margin-left: 30%;
  margin-right: 30%;
}

